<header>
    <div class="logo">
        <h1>Logo</h1>
    </div>
    <nav>
        <ul>
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a href="">Nosotros</a>
            </li>
            <li>
                <a href="">Servicios</a>
            </li>
            <li>
                <a href="">Portafolio</a>
            </li>
            <li>
                <a href="">Contacto</a>
            </li>
            <li>
                <a href="">Signin</a>
            </li>
        </ul>
    </nav>
</header>